<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"> 
        

	<!-- 注解 自动扫描指定包 包含了开启注解<context:annotation-config/> -->
	<context:component-scan base-package="com.qingshixun"></context:component-scan>

	<!-- 加载properties文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	<!-- 配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 数据库连接：加载连接池 -->
		<property name="dataSource" ref="dataSource" />

		<!-- Hibernate 配置 -->
		<property name="hibernateProperties">
			<!-- 以下属性在书写时不能省略hibernate <props> <prop key="hibernate.show_sql">true</prop> 
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> <prop 
				key="hibernate.hbm2ddl.auto">update</prop> <prop key="hibernate.format_sql">true</prop> 
				</props> -->
			<!-- 上述的配置可以简写成以下 -->
			<value>
				hibernate.show_sql=true
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto=update
				hibernate.format_sql=true
			</value>
		</property>

		<!-- 加载注解类 -->
		<property name="packagesToScan">
			<list>
				<value>com.qingshixun.model</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置事务管理器 -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- 开启使用事务的注解，在方法或类上增加 @Transactional 即可-->
    <tx:annotation-driven transaction-manager="txManager"/> 
</beans>