.buttom-menus {
	margin-top: -2px;
    width: 100%;
    height: 500px;
}

h2 {
	margin: 0;
	margin-left: 5px;
}

.buttom-menus .content-cont {
    width: 100%;
    height: 468px;
}

.buttom-menus .content-cont .buttom-but {
    width: 700px;
    height: 400px;
}

.buttom-menus .content-cont .buttom-but .role {
    position: relative;
    top: 50px;
}

.buttom-menus .content-cont .buttom-but .description {
    position: relative;
    top: 90px;
}

.buttom-menus .content-cont .buttom-but .jur-Panel {
    position: relative;
    top: 130px;
}

.buttom-menus .content-cont .forget {
    width: 500px;
    height: 50px;
    line-height: 50px;
    position: relative;
    top: 180px;
}

.buttom-menus .content-cont .buttom-but .role input {
	padding: 5px;
}

textarea {
	padding: 10px;
}