.buttom-menus {
	margin-top: -2px;
    width: 100%;
    height: 500px;
}

h2 {
	margin: 0;
	margin-left: 5px;
}

.buttom-menus .content-cont {
    width: 100%;
    height: 468px;
}

.buttom-menus .content-cont .buttom-but {
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

.buttom-menus .content-cont .buttom-but .role {
    position: relative;
    top: 50px;
}

.buttom-menus .content-cont .buttom-but .description {
    position: relative;
    top: 100px;
}

.buttom-menus .content-cont .buttom-but .jur-Panel {
    position: relative;
    top: 150px;
}

.buttom-menus .content-cont .forget {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    position: relative;
    top: 200px;
}

.buttom-menus .content-cont .forget button {
    width: 150px;
    height: 35px;
    padding: 5PX;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6abc68;
    position: relative;
    left: 30px;
}

.buttom-menus .content-cont .buttom-but .role input {
	padding: 5px;
}

textarea {
	padding: 10px;
}