table th {
	background-color: white;
	border-bottom: 2px solid #ccc;
	padding: 10px;
}

table td {
	text-align: center;
	padding: 5px;
}

table tr {
	background-color: #D3D3D3;
}

table tr:nth-child(2n - 1) {
	background-color: #eee;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #C0C0C0;
}

#content .content-panel .buttom-menu table tr {
	cursor: pointer;
}

.top-menu {
	width: 100%;
	height: 50px;
	background-color: #ADC2CC;
}

.top-menu .but {
	width: 500px;
	height: 50px;
	background-color: #ADC2CC;
	line-height: 50px;
	float: left;
}

.top-menu .but>button {
	width: 150px;
	height: 35px;
	padding: 5PX;
	border-radius: 5px;
	cursor: pointer;
	background-color: #287DB6;
	position: relative;
	left: 13px;
}

.top-menu .but .but-remove {
	margin-left: 13px;
}

.queryUpdateRole {
	background-color: #7ED321;
}

.removeRole {
	background-color: #e21918;
}