.top-menu {
	width: 100%;
	height: 50px;
}

.top-menu .but {
	width: 500px;
	height: 50px;
	line-height: 50px;
	float: left;
}

.top-menu .but .but-remove {
	margin-left: 13px;
}

.queryUpdateRole {
	background-color: #7ED321;
}

.removeRole {
	background-color: #e21918;
}