@font-face {
	font-family: "parry_hotterregular";
	src: url('../chinese-face/AU.eot');
	src: url('../chinese-face/AU.eot?#iefix') format("embedded-opentype"),
		url('../chinese-face/AU.woff') format("woff"),
		url('../chinese-face/AU.ttf') format("truetype"),
		url('../chinese-face/AU.svg#parry_hotterregular') format("svg");
	font-weight: normal;
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

#contai {
	flex-basis: 80px;
	background-color: #2D4155;
}

#content {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	background-color: #ECEDF0;
}

#contai .type h1 {
	width: 400px;
	height: 80px;
	position: absolute;
	left: 50px;
	top: 0;
	color: #E0DFDB;
	font-family: "parry_hotterregular";
}

#contai .menu-panel {
	width: 300px;
	height: 80px;
	float: right;
}

#contai .menu-panel ul {
	list-style: none;
	float: right;
	margin: 0;
}

#contai .menu-panel ul li {
	float: left;
	font-size: 20px;
	padding-right: 50px;
	line-height: 100px;
}

#contai .menu-panel ul li a {
	text-decoration: none;
	color: #850814;
}

#contai .menu-panel ul li a:hover {
	color: #4d98c1;
}

#contai .menu-panel ul li a:active {
	color: white;
}

#content .menu-panel {
	flex-basis: 200px;
	background-color: #34495E;
	font-size: 20px;
}

#content .content-panel {
	flex-grow: 1;
	margin: 10px;
	border: 1px solid #94A8B3;
	background-color: #FFFFFF;
	background-image: url(../image/6d.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#content .menu-panel .menu-content-panel {
	list-style: none;
	padding: 0;
	margin: 0;
}

#content .menu-panel .menu-content-panel {
	list-style: none;
	line-height: 40px;
	size: 30px;
	margin: 0;
	text-align: center;
	position: relative;
	top: 5px;
}

#content .menu-panel .menu-content-panel>div {
	font-size: 20px;
	margin: 0;
	text-decoration: none;
	color: white;
}

#page {
	background-color: #287DB6;
}

#page:active {
	background-color: none;
}

#content .menu-panel .menu-content-panel>div:hover {
	color: #EF8201;
	cursor: pointer;
	text-decoration: underline;
}

#content .menu-panel .menu-content-panel>div:active {
	color: white;
}

#content .menu-panel .avatar-panel {
	width: 200px;
	height: 230px;
	position: absolute;
	bottom: 10px;
}

#content .menu-panel .avatar-panel .avatar-content-panel {
	width: 140px;
	height: 140px;
	padding: 30px;
}

#content .menu-panel .avatar-panel .avatar-content-panel .cont5>div {
	width: 100%;
	height: 100%;
	background-image: url(../image/ull.jpg);
	border-radius: 50%;
	background-size: contain;
	animation: play 3s linear infinite;
}

@keyframes play { 
	0% {
	transform: rotateY(0deg);
    }

100%{
   transform: rotateY(360deg);
   }
}
#content .menu-panel .avatar-panel .avatar-content-panel>div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 50%;
	border: 2px solid white;
}

#content .menu-panel .avatar-panel .avatar-text-panel {
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

#content .content-panel .top-menu {
	width: 100%;
	height: 50px;
	background-color: #ADC2CC;
}

#content .content-panel .top-menu .but .form {
	width: 500px;
	height: 50px;
	background-color: #34495E;
	line-height: 50px;
	float: left;
}

#content .content-panel .top-menu .but .form>button {
	width: 150px;
	height: 35px;
	padding: 5PX;
	border-radius: 5px;
	cursor: pointer;
	background-color: #287DB6;
	position: relative;
	left: 50px;
}

#content .content-panel .buttom-menu {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	opacity: 0.8;
}

table th {
	background-color: white;
	border-bottom: 2px solid #ccc;
	padding: 10px;
}

table td {
	text-align: center;
	padding: 5px;
}

table tr {
	background-color: #D3D3D3;
}

table tr:nth-child(2n - 1) {
	background-color: #eee;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #C0C0C0;
}

#content .content-panel .buttom-menu table tr {
	cursor: pointer;
}

#content .content-panel .buttom-menu button {
	border: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

#content .content-panel .buttom-menu button:hover {
	filter: grayscale(0.4);
}

#content .content-panel .buttom-menu button:active {
	filter: grayscale(0.1);
}

#content .content-panel .buttom-menu .department-edit {
	background-color: #6abc68;
}

#content .content-panel .buttom-menu .department-remove {
	background-color: #d15c5b;
}