#container {
    width: 100%;
    height: 500px;
    margin-top: -20px;
}

h2 {
	margin-left: 5px;
}

#container .content-cont {
    width: 100%;
    height: 450px;
}

#container .content-cont .buttom-but {
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

#container .content-cont .buttom-but .jurisdiction {
    position: relative;
    top: 50px;
}

#container .content-cont .buttom-but .description {
    position: relative;
    top: 100px;
}

#container .content-cont .buttom-but .forget {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    position: relative;
    top: 150px;
}

#container .content-cont .buttom-but .forget button {
    width: 150px;
    height: 35px;
    padding: 5PX;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6abc68;
    position: relative;
    left: 30px;
}

.jurisdiction input {
	padding: 5px;
	height: 30PX;
}

textarea {
	padding: 10px;
}